/* ==========================================================================
    [Table of contents]

    1. BASE
        1.1 Page Rendering Defaults
        1.2 User Experience Adjustments
        1.3 Core Styling
    2. LAYOUT
        2.1 Core Layout
        2.2 main nav mobile first
        2.3 Small only
        2.4 medium and up
            2.4.1 medium and up main navigation
        2.5 Medium only
        2.6 large screens and up
        2.7 Large only
        2.4 Core Article
    3. MODULES
        3.1 page-slider
        3.2 project portfolio item
    4. STATES
    5. THEME
        5.1 main nav colours & icons
    6. UTILITIES
    6. PRINT

    ========================================================================== */


/* ==========================================================================
   BASE
   ========================================================================== */


/*        1.1 Page Rendering Defaults
*/

html {
  color: #222;
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  line-height: 1.4;
}


/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}


/* 1.3 Core Styling */

img {
  width: 100%;
}

h1 {
  color: #000;
}

p {
  font-size: 0.8rem;
}


/* ==========================================================================
 LAYOUT
 ========================================================================== */


/*  2.1 Core Layout */

div,
section,
footer,
header {
  /* border: 1px solid #ccc; helper style to view elements while coding */
  /* border: 1px solid #ccc; */
}

.row {
  display: grid;
  row-gap: 1rem;
}

.column{
  /* margin: 1rem; */
}

.heading {
  text-align: center; 
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  
}

.tagline {
  margin-top: -0.8 rem;
  font-size: 0.7rem;
  text-align: center;
  color:rgba(128,128,128)
}

.logo {
  max-height: 2.5rem;
}

.main-nav {
  display: none;
  flex-direction: row;
  align-items: center;

}

/* main nav mobile first */


/* Small only */

@media screen and (max-width: 39.9375em) {
}
  .logo {
    max-height: 3rem;
  }

  .s-hide {
    display: none;
  }
/* Medium and up */

@media screen and (min-width: 40em) {
  .row {
    width: 85vw;
    max-width: 70rem;
    margin: 0 auto;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 0 auto 3rem auto;
  }

  .m-col-2 {
    grid-template-columns: 1 fr 1 fr;
  }

  .m-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .m-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .m-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .m-1-2 {
    grid-template-columns: 1fr 2fr;
  }

  .row-span {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
  }

  .main-nav__item {
    padding: 4rem 1rem 0rem 0.5rem;
    line-height: 2rem;
    font-size: 0.8rem;
    text-align: left;
    background-color: rgb(184, 184, 184);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 2.3rem, 1.4rem;
  }


}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .m-hide {
      display:none;
  }
}

/* Large and up */

@media screen and (min-width: 64em) {
  .l-col-2 {
    grid-template-columns: 1fr 1fr;
  }

  .l-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .l-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .l-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .l-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  
  .l-hide{
    display: none;
  }


}


/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}


/* ==========================================================================
MODULES
========================================================================== */


/* page-slider */

.page__slider{
  background-color: rgb(230,230,230);
}

.page__slider img {
  height: 25vh;
}
/* project portfolio item */



/* ==========================================================================
 STATES
 ========================================================================== */



/* ==========================================================================
 THEME
 ========================================================================== */

.page__footer {
  background-color: #222;
}

.inverted {
  color: white;
}


/* main nav colours & icons */
.main-nav__item:nth-child(1) {
  background-color: #25c389;
  background-image: url(../img/icon/circle.svg), url(../img/icon/bullhorn.svg);
}

.main-nav__item:nth-child(2) {
  background-color: #ffb901;
  background-image: url(../img/icon/circle.svg) url(../img/icon/bullhorn.svg);
}

.main-nav__item:nth-child(3) {
  background-color: #de6262;
  background-image: url(../img/icon/circle.svg) url(../img/icon/bullhorn.svg);
}

.main-nav__item:nth-child(4) {
  background-color: #1691bd;
  background-image: url(../img/icon/circle.svg) url(/Applications/XAMPP/xamppfiles/htdocs/metrolics/img/icon/img_icon_bullhorn.svg);
}

.main-nav__item:nth-child(5) {
  background-color: #166ba2;
  background-image: url(../img/icon/circle.svg) url(/Applications/XAMPP/xamppfiles/htdocs/metrolics/img/icon/img_icon_bullhorn.svg);
}
/* ==========================================================================
     UTILITIES
 ========================================================================== */


/*
* Hide visually and from screen readers
*/

.hidden,
[hidden] {
  display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}


/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
 PRINT
 Inlined to avoid the additional HTTP request:
 https://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
  }
  a,
  a:visited {
      text-decoration: underline;
  }
  a[href]::after {
      content: " (" attr(href) ")";
  }
  abbr[title]::after {
      content: " (" attr(title) ")";
  }
  /*
 * Don't show links that are fragment identifiers,
 * or use the `javascript:` pseudo protocol
 */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
      content: "";
  }
  pre {
      white-space: pre-wrap !important;
  }
  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }
  /*
 * Printing Tables:
 * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
 */
  thead {
      display: table-header-group;
  }
  tr,
  img {
      page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }
  h2,
  h3 {
      page-break-after: avoid;
  }
}